/*reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*caracteristicas del fondo de body*/

body{
    background-image: linear-gradient( to left, #F5B7B1, #FAE5D3);

}

/*INDEX*/

h1 {
    color: #A52206;
    font-size: 70px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-align: center;
}

.principal{
    height: 100vh;
    text-align: center;
    background-image: url('../img/material-cosmiatria.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

h2{
    font-family: 'Aguafina Script', cursive;
    font-family: 'Amatic SC', cursive;
    font-family: 'Moon Dance', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
   
}


/*barra menu*/

header nav ul li a{
    margin: 35px;
    text-transform: uppercase;
}

/*COSMETOLOGIA*/


.cosme{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 20px;
}
.cosmetologia{
    color: #A52206;
    font-size: 50px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    text-align: center;
}

.mainCosmetologia{
    font-size: 40px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    text-align: center;
    color: #A52206;
}

/*CEJAS*/

.cejasPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 15px;
    font-size: 35px;
   
}
.lista{
    text-decoration: none;
    list-style: none;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    text-align: center;
    color: #A52206;
}

.mainCejas{
    font-size: 40px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    text-align: center;
    color: #A52206;
}

/*EPILACION CORPORAL*/

.mainEpilacion{
    font-size: 30px;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    text-align: center;
    color: #A52206;
}

.corporal{
    margin: 15px;
    list-style: none;
    font-family: 'Aguafina Script', cursive;
    font-family: 'Moon Dance', cursive;
    font-size: 20px;
    text-align: center;
}



/*PESTAÑAS*/

.mainPestana{
   text-align: center;
   font-family: 'Aguafina Script', cursive;
   font-family: 'Moon Dance', cursive;
   font-size: 30px;
}

.pestanaLista{
     list-style: none;
     text-align: center;
     font-size: 35px;
     font-family: 'Aguafina Script', cursive;
     font-family: 'Moon Dance', cursive;

}


/*CONTACTO*/

.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   font-family: 'Aguafina Script', cursive;
   font-family: 'Moon Dance', cursive;
   font-size: 30px;
}

footer{
    text-align: center;
    font-size: 15px;
    margin-top: 80px;
}

.redes{
    display: inline-block;
    padding: 10px;
}

h3{
    font-family: 'Aguafina Script', cursive;
    font-family: 'Amatic SC', cursive;
    font-family: 'Moon Dance', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
/*transformaciones menu*/

nav ul li:hover{
    background-color: #fa8072;
    transform: scale(1.1);
}


/*transformaciones img cosmetoligia*/

.imgCosme:hover{
    transform: scale(1.3);
}



@media screen and (max-width:600px) {
   
    .contenedorIndex{
        height: 80vh;
        display: grid;
        grid-template-areas: "encabezado"
                              "titulo"
                              "principal1"
                              "footer";
        justify-content: center;
    }

    .navbar{
        grid-area: encabecado;
    }

    h1{
        color: #A52206;
        font-size: 60px;
        font-family: 'Aguafina Script', cursive;
        font-family: 'Moon Dance', cursive;
        text-align: center;  
        grid-area: titulo; 
        display: none;   
    }

    .texto{
        display: none;
    }
    .principal{
        font-size: 30px;
        padding: 50px;
        text-align: center;
        background-image: url('../img/material-cosmiatria.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        font-family: 'Aguafina Script', cursive;
        font-family: 'Moon Dance', cursive;
        grid-area: principal1;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    

    .cosme{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu{
        background-color: #f5ac85;
        top: 0;
        text-align: center;
        grid-area: menu;      
    }
    
    .menu li {
        background-color: #cc162e;
        display: inline-block;
        padding: 10px;
        margin: 10px;
        border-radius: 30px;
    }
    
    header nav ul li a{
        list-style: none;
        text-decoration: none;
        color: white;
        margin: 35px;
        text-transform: uppercase;
    }
    
    footer{
        text-align: center;
        font-size: 15px;
        margin-top: 80px;
        grid-area: footer;
    }
    
    .redes{
        display: inline-block;
        padding: 10px;
    }
}

@media screen and (max-width:800px) {
   
    .encabezado{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 80px;
        padding: 30px;
        grid-area: encabezado;
        font-size: 30px;
    }
    h1{
        font-size: 40px;
    }
    .img{
        height: 300px;
    }

    .cosme{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}